.container {
    background: orange;
    border-radius: 8px;
    padding: 15px;
}

.display {
    width: 100%;
    height: 500px;
    background: rgb(209, 0, 209);
    border-radius: 8px;
}

img {
    width: 40px;
    overflow: hidden;
}

.buttons-container {
    display: flex;
}

.puños {
    width: 140px;
    height: 80px;
    border-radius: 8px;
    border: none;
    margin: 15px 20px 0 0;
    background: red;
    user-select: none;
}

.puños:hover {
    background: rgb(217, 0, 0);
}

.puños:active {
    background: rgb(166, 0, 0);
}

.pokemon{
    width: 200px;
    height: 200px;
    background-color: #ffcc00;
    border-radius: 50%;
    margin-left: 50px;
    display: inline-block;
    margin-top: 140px;
    animation: shake .4s infinite alternate;
}

#pokemon2 {
    margin-right: 50px;
    float: right;
    animation: shake2 .4s infinite alternate;
}

.barras-container {
    margin: 20px 50px;
}

.barra {
    width: 200px;
    height: 20px;
    background: white;
    display: inline-block;
    border: 2px solid black;
}

#vida1 {
    width: 100%;
    height: 100%;
    background: greenyellow;
}

#vida2 {
    width: 100%;
    height: 100%;
    background: greenyellow;
}

#b2 {
    float: right;
}

.cabeza {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    border-radius: 50%;
    margin-top: 45px;
}

#cabeza-pokemon1 {
    margin-left: 100px;
}

.boca {
    width: 60px;
    height: 20px;
    background-color: #000000;
    border-radius: 10px;
}

#boca1 {
    margin-left: 120px;
}

#boca2 {
    margin-left: 20px;
}

.bolita {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: blue;
    position: absolute;
}

#bolita1 {
    display: none;
    transform: translate(180px, 200px);
}

#bolita2 {
    display: none;
    transform: translate(1190px, 200px);
}

@keyframes puno {
    100% { transform: translate(calc(100vw - 250px), 200px);}
}

@keyframes espada {
    0% { background: orange;}

    100% {
        transform: translate(calc(100vw - 250px), 200px) scale(2.5);
        background: orange;
    }
}

@keyframes bola {
    0% { background: rgb(33, 233, 255);}

    60% {
        transform: translate(80px, 100px) scale(5);
    }

    100% {
        transform: translate(calc(100vw - 250px), 200px) scale(5);
        background: rgb(33, 233, 255);
    }
}

@keyframes shake {
    100% { transform: rotate(5deg);}
}

@keyframes shake2 {
    100% { transform: rotate(-5deg);}
}

@keyframes puno2 {
    0% {
        transform: translate(1300px, 200px);
    }

    100% {
        transform: translate(180px, 200px);
    }
}