* {
    font-size: 18px;
}

body {
    background-color: lightblue;
}

header {
    width: 100%;
    position: fixed;
}

.responsive-ul {
    display: none;
}

.nav {
    background-color: lightblue;
    width: 100%;
}

.ul {
    display: flex;
    background-color: rgb(135, 172, 185);
    margin: 0;
    height: 45px;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid black;
}

.li {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}

.li a {
    color: rgb(87, 87, 87);
    text-decoration: none;
}

.li i {
    color: rgb(87, 87, 87);
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

.li:hover > a, .li:hover > i {
    color: black;
}

.article {
    height: 100vh;
    background-color: lightblue;
    padding-top: 45px;
}

@media only screen and (max-width: 500px) {

    .responsive-button-container {
        height: 45px;
        width: 100%;
        font-size: 30px;
        background-color: rgb(135, 172, 185);
        position: absolute;
        margin-top: -64px;
    }
    
    .responsive-button {
        padding: 9px 10px;
        text-align: left;
    }
    
    .responsive-button i {
        font-size: 25px;
    }

    .ul {
        display: none;
    }

    nav {
        height: 37px;
        width: 100%;
        background-color: rgb(88, 112, 121);
    }

    .responsive-ul {
        display: block;
        position: absolute;
        width: 100%;
        height: 40px;
        margin-top: 37px;
        padding-top: 27px;
    }

    .responsive-container {
        margin-top: -15px;
        margin-left: 10px;
    }

    .responsive-li {
        position: absolute;
        display: inline-block;
    }

    #responsive-li-start {
        margin-top: 5px;
    }

    #responsive-li-about {
        margin-top: 45px;
    }

    #responsive-li-money {
        margin-top: 85px;
    }

    #responsive-li-help {
        margin-top: 125px;
    }

    .responsive-li i {
        color: rgb(87, 87, 87);
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
    }

    .responsive-li a {
        color: rgb(87, 87, 87);
        text-decoration: none;
    }
}

@media only screen and (max-width: 180px) {

    .ul {
        display: none;
    }

    nav {
        height: 37px;
        width: 100%;
        background-color: rgb(88, 112, 121);
    }

    .responsive-ul {
        display: block;
        position: absolute;
        width: 100%;
        height: 40px;
        margin-top: 37px;
        padding-top: 27px;
    }

    .responsive-container {
        margin-top: -15px;
    }

    .responsive-li a {
        display: none;
    }

    #responsive-li-start {
        margin-top: 5px;
    }

    #responsive-li-about {
        margin-top: 45px;
    }

    #responsive-li-money {
        margin-top: 85px;
    }

    #responsive-li-help {
        margin-top: 125px;
    }

    .responsive-li i {
        color: rgb(87, 87, 87);
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
    }

    .responsive-li a {
        color: rgb(87, 87, 87);
        text-decoration: none;
    }
}